body{
	background-color: #ddd;
	margin: 0%;
}
.imageBack{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.nomes{
	position: absolute;
	text-align: center;
	line-height: 2em;
	font-size: 20px;
	top: 70px;
	left: 40%;
	transform: translateX(-60%);
}
.nomes ul li{
	text-align: left;
	list-style-type: none;
	font-family: "Comic Sans MS", Arial;
	margin-bottom: 30px;
}
.nomeMeu{
	font-weight: bold;
	font-size: 25px;
	font-family: "Comic Sans MS", Arial;
}
.imgWidth{
	width: 50px;
}
.imgs{
	position: absolute;
	top: 10px;
	left: 40%;
	transform: translateX(-50%);
}
.imgs ul li{
	list-style-type: none;
	margin-bottom: 15px;	
}
.imgs ul .nomeMeu{
	margin-bottom: 25px;
	margin-left: 50px;
}















