#container{
    background-color: rgb(143, 252, 252);
    max-width: 300px;
    margin: auto;
    border-radius: 8px;
    padding: 25px;
}
h1{
    padding: 15px;
    font-size: 26px;
    text-align: center;
}
input[type="number"]{
    padding: 3px;
    margin-bottom: 15px;
    box-sizing: border-box;
    width: 100%;
}
